body {
  background-color: #EDF2EF;
}

h1 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: bold;
}

h4, h5 {
  font-family: "Lato", sans-serif;
}

p {
  font-size: medium;
  font-family: "Urbanist", sans-serif;
  color: #1E1E24;
}

#playing-cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.menu-plane {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.side-bar {
  justify-self: start;
  width: 300px;
  height: 100vh;
  background: linear-gradient(to left, antiquewhite, orange);
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 5px solid #7E5920;
  background-color: antiquewhite;
  width: 150px;
  height: 250px;
  margin: 20px;
}

.card:hover {
  transform: scale(1.1);
}

.left {
  align-self: flex-start;
  font-size: 30px;
  padding-right: 5px;
  padding-left: 5px;
}

.middle {
  display: flex;
  align-self: center;
  flex-direction: column;
  font-size: 30px;
}

.right {
  align-self: flex-end;
  font-size: 30px;
  padding-right: 5px;
  padding-left: 5px;
  
}