body {
  background-color: darkgrey;
}

#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 5px solid black;
  background-color: antiquewhite;
  width: 150px;
  height: 250px;
  margin: 20px
}

.left {
  align-self: flex-start;
  font-size: 30px;
}

.middle {
  display: flex;
  align-self: center;
  flex-direction: column;
  font-size: 30px;
}

.right {
  align-self: flex-end;
  font-size: 30px;
  
}