@import url();

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

header {
    background-color: #ddd8c4;
    color: black;
}

h1 {
    font-family: 'Times New Roman', Times, serif
}

main {
    background-color: #9CA3DB;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: black;
}

h2 {
    font-family: "Roboto", sans-serif;
}

footer {
    background-color: #32533D;
    color: white;
}

.footer_link_style {
    color: white;
}
