
* {
  margin: 0;
  width: 900;
  box-sizing: border-box;
  line-height: 1.5;
}

header {
    background-color: #ddd8c4;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
}

figure {
    text-align: center;
}

main {
    background-color: #9CA3DB;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    
}

h2 {
    font-family: "Roboto", sans-serif;
}

footer {
    background-color: #32533D;
    color: white;
}

.footer-link-style {
    color: white;
}
