
* {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

.header-link-style {
    color: white;
}

nav {
    background-color: #051650;
    color: white;
    text-align: center;
    font-family: "Inter", sans-serif;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-left: 10px;
    border-left: 5px;
    padding-right: 10px;
    border-right: 5px;
    color: black;
    
}

h1 {
    font-family: "cabin", sans-serif;
    text-align: center;
}

h2 {
    font-family: "Roboto", sans-serif;
}

p {
    text-indent: 40px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#051650;
    color: white;
    text-align: center;
}

.footer-link-style {
    color: white;
}
