main {
    display: flex;
    justify-content: center;
}

table {
    border: 2px solid black;
}

.available {
    background-image: linear-gradient(to bottom, #83f28f , white)
}

.ordered {
    background-image: linear-gradient(to bottom, #fffd8d , white)
}

.sold-out {
    background-image: linear-gradient(to bottom, #ffc067 , white)
}

.status {

}

span {
    display: inline-block;
}

tr[class="ordered"] span[class="status"] {
    border: 1px solid blue;
    border-radius: 15%;
    background-image: linear-gradient(45deg, #fffd8d , white);
}

tr[class="available"] span[class="status"] {
    border: 1px solid blue;
    border-radius: 15%;
    background-image: linear-gradient(45deg, #83f28f , white);
}

tr[class="sold-out"] span[class="status"] {
    border: 1px solid blue;
    border-radius: 15%;
    background-image: linear-gradient(45deg, #ffc067 , white);
}

span[class="status"] span[class^="rate"] {
    height: 20px;
    width: 5px;
    
}

span[class^="rate"] > span {
    border-radius: 15%;
    margin: 4px;
    height: 10px;
    width: 10px;
    background-color: grey;
}

span[class*="one"] span:first-child {
    background-image: linear-gradient(to top, #5bb5ec, white);
}

span[class*="two"] span:nth-child(1), span[class*="two"] span:nth-child(2) {
    background-image: linear-gradient(to top, #5bb5ec, white);
}

span[class*="three"] span:nth-child(1), span[class*="three"] span:nth-child(2), span[class*="three"] span:nth-child(3) {
    background-image: linear-gradient(to top, #5bb5ec, white);
}