main {
    display: flex;
    justify-content: center;
}

table {
    border: 2px solid black;
}

.read {
    background-image: linear-gradient(to bottom, #83f28f , white)
}

.to-read {
    background-image: linear-gradient(to bottom, #ffc067 , white)
}

.in-progress {
    background-image: linear-gradient(to bottom, #fffd8d , white)
}

.status {

}

span {
    display: inline-block;
}

.one {

}

.two {

}

.three {

}

tr[class="to-read"] span[class="status"] {
    border: 1px solid blue;
    border-radius: 15%;
    background-image: linear-gradient(45deg, #ffc067 , white);
}

tr[class="read"] span[class="status"] {
    border: 1px solid blue;
    border-radius: 15%;
    background-image: linear-gradient(45deg, #83f28f , white);
}

tr[class="in-progress"] span[class="status"] {
    border: 1px solid blue;
    border-radius: 15%;
    background-image: linear-gradient(45deg, #fffd8d , white);
}

span[class="status"] span[class^="rate"] {
    height: 20px;
    width: 5px;
    
}

span[class^="rate"] > span {
    border: 1px solid black;
    border-radius: 15%;
    margin: 4px;
    height: 10px;
    width: 10px;
    background-color: grey;
}

span[class*="one"] span:first-child {
    background-image: linear-gradient(to top, #90D5FF, white);
}

span[class*="two"] span:nth-child(1), span[class*="two"] span:nth-child(2) {
    background-image: linear-gradient(to top, #90D5FF, white);
}

span[class*="three"] span:nth-child(1), span[class*="three"] span:nth-child(2), span[class*="three"] span:nth-child(3) {
    background-image: linear-gradient(to top, #90D5FF, white);
}