#header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  gap: 5px;
  top: 0px;
  background: linear-gradient(to bottom, orange, white);
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Lexend Deca", sans-serif;
}

h3 {
    font-family: "Lato", sans-serif;
    text-align: center;
}

p {
    font-family: "Urbanist", 'Times New Roman', sans-serif;
    font-size: 15px;
}

#nav-bar {
    padding: 20px;
    justify-content: flex-end;
}

#product-title {
    justify-content: flex-start;
}

#product-image{
    text-align: center;
}

#form {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#media {
    text-align: center;
}


#video {
  border: 1px solid black;
  margin: 20px;
  text-align: center;
}

#product-tiers {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}

.product-tier {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    padding: 5px;
    background: linear-gradient(to top, white, rgb(255, 199, 94));
}