
* {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

header {
    background-color: #ddd8c4;
    font-family: "Merriweather Sans", sans-serif;
    text-align: center;
    color: black;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
}

main {
    background-color: #9CA3DB;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    
}

h2 {
    font-family: "Roboto", sans-serif;
}

p {
    text-indent: 40px;
}

footer {
    background-color: #32533D;
    font-family: "Times New Roman", sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    height: 100vw;
}

.footer-link-style {
    color: white;
}
