<header>
    <nav>
        <a href="#home" onclick="pageSlider('home')">Home</a> |
        <a href="#info" onclick="pageSlider('info')">Information</a> |
        <a href="#best-times" onclick="pageSlider('best-times')">Best Times</a> |
        <a href="#great-places" onclick="pageSlider('great-places')">Places to go</a> | 
        <a href="#computer-building-steps" onclick="pageSlider('computer-building-steps')">PC build guide</a> |
        <a href="#why" onclick="pageSlider('why')">Why build a PC?</a> |
        <a href="#home" onclick="pageSlider('home')">Extra</a>
    </nav>
    <h1>%title%</h1>
</header>