@import url('https://fonts.googleapis.com/css2?family=Carme&family=Gorditas:wght@400;700&family=Patrick+Hand&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    color: #0F0F0F;
}
#site_header {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 50% 50%;
    height: 15vh;
    background-color: #E7E393;
    padding-top: 15px;
}

#page_title {
    text-align: left;
    font-weight: bold;
}

#page_nav {
    text-align: right;
    right: 0;
    padding-top: 10px;
    padding-right: 5px;
}

h1, h2, h3 {
    font-family: "Carme", sans-serif;
    
}

.main_split {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 15px;
    gap: 20px;
    background-color: #F4C95D;
}

#posts, #about_section {
    text-align: center;
    background-color: #F4C95D;
    padding-bottom: 15px;
}

p, li {
    font-family: "Quantico", cursive;
    font-weight: 700;
    font-size: large;
    padding-right: 10px;
    padding-top: 10px;
    
}

#sign_up_split {
    display: flex;
    flex-direction: row;
    background-color: #F4C95D;
}

#output_area {
    
}

.dog_posts {
    text-align: center;
}

#template-post {
    border: 2px solid #3d2b1f; 
    margin: 20px; 
    padding: 15px; 
    background: #9AADBF;
}

#posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#about_section {
    text-align: center;
}

.left_pictures {
    text-align: left;
    padding-left: 30px;
    
}

.slide_hidden {
    display: none;
}

.site_image {
    border: 5px solid black;
}

figcaption {
    
}

.right_articles {
    flex: 1;
}

.article_titles {
    text-align: center;
}

.visible {
    display: none;
}

#class_site_footer {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #99621E;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    height: 40vh;
}
 
a, form {
    font-family: "roboto", sans-serif;
}

#contact_block {
    text-align: right;
}