<footer>
    <nav>
        <p>Page created by <a class="coffee-link-footer" href="justin-script.net/firm_website.html">Justin-Script.net</a>. Certified in <a class="coffee-link-footer" href="https://www.freecodecamp.org/certification/justin_johnson/responsive-web-design-v9">Responsive Web Design</a></p>
        
        <a class="coffee-link-footer" href="https://github.com/Justin957198">GitHub</a> |
        <a class="coffee-link-footer" href="https://justin957198.github.io/">GitHub.io</a> |
        <a class="coffee-link-footer" href="https://webpages.charlotte.edu/jjohn646/">UNCC page</a> | 
        <a class="coffee-link-footer" href ="../index.html">ITIS3135</a> |
        <a class="coffee-link-footer" href="https://www.linkedin.com/in/justin-johnson-95a443324/">Linkedin</a>
    </nav>
</footer>