<footer>
    <nav>
        <h2>Personal Links</h2>
        <a class="footer-link-style" href ="../index.html">ITSC3135</a> |
        <a class="footer-link-style" href="https://github.com/Justin957198">Github</a> |
        <a class="footer-link-style" href="https://webpages.charlotte.edu/jjohn646/">UNCC page</a> |
        <a class="footer-link-style" href="https://justin957198.github.io/">Github.io</a> | 
        <a class="footer-link-style" href="https://www.linkedin.com/in/justin-johnson-95a443324/">Linkedin</a>
    </nav>
</footer>