<header>
    <nav>
        <a class="header-link-style" href="../index.html">Landing</a> |
        <a class="header-link-style" href="../introduction.html">Introduction</a>
        <br>
        <a class="header-link-style" href="index.html">ITIS3135 Home</a> |
        <a class="header-link-style" href="contract.html">Contract Page</a> |
        <a class="header-link-style" href="website_evaluations.html">Website Evaluations</a> |
        <a class="header-link-style" href="Gallery.html">Gallery</a> |
        <a class="header-link-style" href="Instruction.html">Instructions</a> |
        <a class="header-link-style" href="survey.html">Survey</a> |
        <a class="header-link-style" href="highlight.html">Highlight</a> | 
        <a class="header-link-style" href="project_overview.html">Project Proposal</a> |
        <a class="header-link-style" href="intro_form.html">Intro Form</a> |
        <a class="header-link-style" href="review1.html">Client review 1</a> |
        <a class="header-link-style" href="review2.html">Client review 2</a>
        <br>
        <a class="header-link-style" href="stuff/bElo_ngS@tr_traSH.htm">Crappy website</a> |
        <a class="header-link-style" href="hobby/index.html">Hobby Site</a> |
        <a class="header-link-style" href="../website_application_project/index.html">Client Project: Raising Canines</a>
        <br>
        <a class="header-link-style" href="cards.html">Cards</a> |
        <a class="header-link-style" href="Inventory.html">Inventory</a> |
        <a class="header-link-style" href="product.html">Product</a> |
        <a class="header-link-style" href="documentation.html">Documentation</a> 
    </nav>
    <h1>%title%</h1>
</header>