<header>
    <nav>
        <a href="index.html">ITIS3135 Home Page</a> |
        <a href="https://justin957198.github.io/itis3135/contract.html">Contract Page</a> |
        <a href="website_evaluations.html">Website Evaluations Page</a>
        <br>
        <a href="stuff/bElo_ngS@tr_traSH.htm">Crappy website</a> |
        <a href="Gallery.html">Gallery</a> |
        <a href="Instructions.html">Instructions</a> |
        <a href="Inventory.html">Inventory</a> |
        <a href="survey.html">Survey</a> |
        <a href="highlight.html">Highlight</a>
    </nav>
    <h1>%title%</h1>
</header>