<header>
    <nav>
        <a class="header-link-style" href="stuff/bElo_ngS@tr_traSH.htm">Crappy website</a> |
        <a class="header-link-style" href="Gallery.html">Gallery</a> |
        <a class="header-link-style" href="Instructions.html">Instructions</a> |
        <a class="header-link-style" href="Inventory.html">Coffee Inventory</a> |
        <a class="header-link-style" href="survey.html">Coffee Survey</a> |
        <a class="header-link-style" href="highlight.html">Highlight</a> | 
        <a class="header-link-style" href="cards.html">Coffee Menu</a> |
        <a class="header-link-style" href="product.html">Expresso Machine</a>
    </nav>
    <h1>%title%</h1>
</header>