<header>
    <nav>
        <a class="coffee-link-header" href="index.html">ITIS3135 Home Page</a> |
        <a class="coffee-link-header" href="https://justin957198.github.io/itis3135/contract.html">Contract Page</a> |
        <a class="coffee-link-header" href="website_evaluations.html">Website Evaluations Page</a>
        <br>
        <a class="coffee-link-header" href="Inventory.html">Coffee Inventory</a> |
        <a class="coffee-link-header" href="survey.html">Coffee Survey</a> | 
        <a class="coffee-link-header" href="cards.html">Coffee Menu</a> |
        <a class="coffee-link-header" href="product.html">Expresso Machine</a> |
        <a class="coffee-link-header" href="documentation.html">Expresso Machine Instructions</a>
    </nav>
    <h1>%title%</h1>
</header>