<header>
    <nav>
        <a class="header-link-style" href="index.html">ITIS3135 Home Page</a> |
        <a class="header-link-style" href="https://justin957198.github.io/itis3135/contract.html">Contract Page</a> |
        <a class="header-link-style" href="website_evaluations.html">Website Evaluations Page</a>
        <br>
        <a class="header-link-style" href="stuff/bElo_ngS@tr_traSH.htm">Crappy website</a> |
        <a class="header-link-style" href="Gallery.html">Gallery</a> |
        <a class="header-link-style" href="Instructions.html">Instructions</a> |
        <a class="header-link-style" href="Inventory.html">Inventory</a> |
        <a class="header-link-style" href="survey.html">Survey</a> |
        <a class="header-link-style" href="highlight.html">Highlight</a> | 
        <a class="header-link-style" href="cards.html">Cards</a>
    </nav>
    <h1>%title%</h1>
</header>